body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
}
section {
    padding: 50px 0;
}
.left-side {
    float: left;
    width: 40%;
   
}
.right-side{
    width: 40%;
    float: right;
   }
 h1 {
    font-size: 50px;
    line-height: 70px;
    margin: 5px 0;
}
 h2 {
    font-size: 30px;
    color: #000000d4;
}
 h3 {
    font-size: 20px;
    display: block;
    color: #000000ab;
}
img{
    width: 100%;
}
.wecome-area {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.wecome-area .left-side h1 .hight-light{
    color: #FF0C8F; 
}


.link-button{
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #FF0C8F, #4d0029);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    
}
.link-button:hover{
    background-image: linear-gradient(45deg, #2a0217, #eb238e);
    color: #f5eef2;
    text-transform: capitalize;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;  
    overflow: hidden;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.experience-area h2{
    color: #FF0C8F; 
}
.single-experince{
    box-shadow: 10px 10px 40px grey;
    height: 400px;
    padding: 5px 15px;
    border-radius: 5px;
}
.footer-area{
    padding: 0;
}
.footer-area h3{
    text-align: center;
}

/***Responsive***/

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
        line-height: 40px;
    }
    h2{
        font-size: 25px;
    }
    h2{
        14px;
    }

  }

  @media only screen and (max-width: 600px) {
    .left-side {
        float: none;
        width: 100%;
    }
    .right-side {
        float: none;
        width: 100%;
        margin-top: 60px;
    }
  }